<h2>Jhonatan Guedes-Santos</h2>


<h3>Interests</h3>
<ul>
  <li>Biodiversity Conservation</li>
  <li>Protected Areas</li>
  <li>Culturomics</li>
  <li>Data Science</li>
</ul>

<h3>Contact</h3>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:contact@gaio.studio">contact@gaio.studio</a>
  </li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa-brands fa-google-scholar fa-lg main-list-item-icon"></span>
    <a href="https://scholar.google.com.au/citations?user=RJC1nz0AAAAJ">Google Scholar Profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa-brands fa-orcid fa-lg main-list-item-icon"></span>
    <a href="https://orcid.org/0000-0003-3177-6496">Orcid</a>
  </li>
  <li class="main-list-item">
    <span class="fa-solid fa-file-lines fa-lg main-list-item-icon"></span>
    <a href="http://lattes.cnpq.br/9077539543640817">Lattes</a>
  </li>  
</ul>
